h1{
    background-color: aqua;
    color:blueviolet;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.api img{
    height: 400px;
    width: 800px;
}